global
  log stdout format raw local0 info

defaults
  log global
  mode tcp
  option tcplog
  timeout connect 5s
  timeout client 24h
  timeout server 24h

resolvers docker
  nameserver embedded 127.0.0.11:53
  resolve_retries 3
  timeout resolve 1s
  hold valid 5s
  hold nx 5s

frontend mtproto
  bind :2443
  default_backend mtproto_replicas

frontend websocket
  bind :2444
  default_backend websocket_replicas

backend mtproto_replicas
  balance leastconn
  server-template telegramd 2 telegramd:2443 check check-send-proxy send-proxy-v2 resolvers docker init-addr none

backend websocket_replicas
  balance leastconn
  server-template telegramd 2 telegramd:2444 check check-send-proxy send-proxy-v2 resolvers docker init-addr none

frontend health
  bind 127.0.0.1:8404
  mode http
  monitor-uri /healthz
  monitor fail if { nbsrv(mtproto_replicas) eq 0 }
